@import '../../scss/variables.scss';

.home {
    padding: 1rem;
    margin-top: 4.5rem;
    overflow: auto;

    h3 {
        color: $dark;
        margin-bottom: 1rem;
    }

    h4 {
        margin-bottom: 0.4rem;
    }

    .heading {
        display: flex;
        justify-content: space-between;
    }

    .fa-plus {
        font-size: 1.25rem;
        margin-top: 0.1rem;
    }

    .task {
        position: relative;
        display: flex;
        padding: 1rem;
        background-color: white;
        border-radius: 0.2rem;
        margin-top: 0.5rem;
        //border: solid rgba($gray, 0.3) 1px;
        box-shadow: 0 0 2px 1px rgba($gray, 0.1);
    }

    .important-task {
        border: solid $danger 1px;

        h4 {
            color: $danger;
            font-weight: 800;
        }
    }

    .fa-bell {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        color: $gray;
        font-size: 0.9rem;
    }

    .important-bell {
        color: $danger;
    }

    .fa-trash-alt {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        color: $gray;
        font-size: 0.9rem;
    }

    .fa-circle {
        font-size: 1.5rem;
        margin-right: 1rem;
    }

    .complete {
        color: rgba($success, 0.1);
        -webkit-text-stroke: $success 2px;
        position: relative;
    }

    .incomplete {
        color: rgba($yellow, 0.1);
        -webkit-text-stroke: $yellow 2px;
        position: relative;
    }

    .fa-check {
        color: $success;
        font-size: 0.9rem;
        position: absolute;
        left: 0.284rem;
        top: 0.335rem;
        -webkit-text-stroke: none;
    }

    p {
        color: $gray;
    }

    span {
        margin-left: 1rem;
    }

    .start-remove {
        .remove, .cancel {
            height: 2rem;
            border-radius: 0.2rem;
            border: none;
            color: white;
            width: 100%;
            font-size: 1rem;
        }

        .remove {
            background-color: $danger;
            margin-top: 1rem;
        }

        .cancel {
            background-color: $gray;
            margin-top: 0.3rem;
        }
    }
}

@media only screen and (min-width: 768px) {
    .home {
        padding-left: 19rem;
        margin-top: 5.5rem;

        .fa-plus {
            font-size: 1.4rem;
        }

        .fa-bell, .fa-trash-alt {

            font-size: 1.05rem;
        }
    }
}